@model Yemek_Poşeti.Models.Customer
@{ ViewBag.Title = "YeniUser";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml"; }


<h2>Create Account</h2>
@using (Html.BeginForm()) //crud işlemlerinde begin form kullanmak zorundayız ve antifogerytoken
{
@Html.AntiForgeryToken() //her form için id oluşturuyor!!

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
    <div class="form-group">
        <label for="username">Name</label>
        @*@@Html.LabelFor(model => model.CName, htmlAttributes: new { @class = "control-label col-md-2" })@ @kutu üzerindeki başlıklar@*@
        <div class="col-md-10">

            @Html.EditorFor(model => model.CName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="=form group">
        <label for="username">User Name</label>
        @*@@Html.LabelFor(model => model.CUsername, htmlAttributes: new { @class = "control-label col-md-2" })@*@
        <div class="col-md-10">
            @Html.EditorFor(model => model.CUserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CUserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="username">User Password</label>
        @*@@Html.LabelFor(model => model.CPassword, htmlAttributes: new { @class = "control-label col-md-2" })@*@
        <div class="col-md-10">

            @Html.EditorFor(model => model.CUserPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CUserPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="username">User Mail</label>
        @*@@Html.LabelFor(model => model.CUserMail, htmlAttributes: new { @class = "control-label col-md-2" })@*@
        <div class="col-md-10">

            @Html.EditorFor(model => model.CUserMail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CUserMail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="username">User Address</label>
        @*@@Html.LabelFor(model => model.CUserAddress, htmlAttributes: new { @class = "control-label col-md-2" })@*@
        <div class="col-md-10">

            @Html.EditorFor(model => model.CUserAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CUserAddress, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Login", "Login")

    </div>
</div>}